<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="icon" href="/static/favicon.png" type="image/png">
  <!-- <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"> -->
  <title>SSH Web Console</title>
  <link href="https://unpkg.com/iview@2.10.1/dist/styles/iview.css" rel="stylesheet">
  <link href="https://unpkg.com/xterm@3.2.0/dist/xterm.css" rel="stylesheet">
</head>
<body>
<div id="app"></div>
<!--<script type="text/javascript" src="https://unpkg.com/axios@0.17.1/dist/axios.min.js"></script>-->
<!--<script type="text/javascript" src="https://unpkg.com/xterm@3.0.2/dist/xterm.js"></script>-->
<script type="text/javascript" src="https://unpkg.com/vue@2.5.2/dist/vue.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue-i18n@7.4.1/dist/vue-i18n.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/iview@2.14.0/dist/iview.min.js"></script>
<!-- built files will be auto injected -->
</body>
</html>
